* {
  padding:0px;
  margin:0px;
  scroll-behavior:smooth;
}
*:focus {
  outline:none;
}
:root {
  --structure-bg-light-color:#A6E1FA;
  --options-bg-light-color:#57cdff;
  --structure-bg-dark-color:#0e101c;
  --options-bg-dark-color:#10121f;
  --options-bg-darker-color:#111421;
}
::-webkit-scrollbar {
  width:0px;
}
::-webkit-scrollbar-track {
  border-radius:10px;
  background-color:none;
}
::placeholder {
  color:white;
  opacity:0.7;
}
a {
  text-decoration:none;
  color:white;
}
input::selection {
  background-color: transparent;
}
Body {
  background-color:black;
  user-select:none;
  overflow-x:hidden;
}
#main-container {
  display:flex;
  justify-content:center;
  margin:25px auto;
}
#option-container {
  background:transparent;
  width:80px;
  height:600px;
  border-radius:10px;
}
.first-option-interval {
  margin:-16.6px 0px;
}
.option-box {
  background:var(--structure-bg-light-color);
  width:60px;
  height:60px;
  border:none;
  border-radius:10px;
  margin:17.1px auto;
  transition:0.3s;
  cursor:pointer;
}
.option-box:hover {
  transform:scale(1.05);
}
.option-img {
  width:50px;
  height:50px;
  margin:5px 5px;
}
.theme-option-box {
  background:var(--structure-bg-light-color);
  width:60px;
  height:60px;
  border:none;
  border-radius:10px;
  margin:17px 10px;
  transition:0.3s;
  cursor:pointer;
}
.theme-option-box:hover {
  transform:scale(1.05);
}
#result-container {
  background:var(--structure-bg-light-color);
  width:1120px;
  height:600px;
  margin-left:10px;
  border-radius:10px;
  justify-content:center;
  display:flex;
  margin:0px 20px;
}
#result-section-personal-info {
  background:var(--options-bg-dark-color);
  width:360px;
  height:540px;
  border-radius:10px;
  margin:30px 10px;
}
#result-user-profile {
  width:300px;
  height:300px;
  border-radius:10px 10px 0 0;
  justify-content:center;
  display:flex;
  margin:30px auto;
}
#result-personal-user-name {
  background:var(--options-bg-darker-color);
  width:300px;
  height:45px;
  font-family:Inter;
  font-weight:bold;
  font-size:22px;
  color:white;
  text-align:center;
  padding-top:14px;
  justify-content:center;
  display:flex;
  margin:-20px auto;
}
#result-personal-user-bio {
  background:var(--options-bg-darker-color);
  width:260px;
  height:100px;
  border-radius:0 0 10px 10px;
  font-family:Inter;
  font-size:12px;
  color:white;
  text-align:center;
  align-items:center;
  padding-left:20px;
  padding-right:20px;
  justify-content:center;
  display:flex;
  margin:30px auto;
}
#result-section-other-info {
  background:var(--options-bg-dark-color);
  width:680px;
  height:540px;
  border-radius:10px;
  margin:30px 15px;
  justify-content:center;
  display:flex;
  overflow-y:scroll;
}
#result-section-other-info-interval {
  margin-top:-150px;
}
#other-info-section {
  background:transparent;
  width:640px;
  height:500px;
  border-radius:10px;
  display:inline-block;
  margin:20px -20px;
}
#other-info-section-first-element {
  margin:-10px 0px;
}
#other-info-box {
  background:var(--options-bg-darker-color);
  width:620px;
  height:60px;
  border-radius:10px;
  margin:20px 10px;
  text-align:center;
  font-family:Inter;
  font-weight:bold;
  font-size:18px;
  color:white;
  align-items:center;
  display:flex;
  justify-content:center;
}
#other-info-section-last-element {
  height:10px;
}
#setting-container {
  background:transparent;
  width:80px;
  height:600px;
  margin-left:0px;
  border-radius:10px;
}
.first-setting-interval {
  margin:-16.6px 0px;
}
.theme-and-setting-interval {
  margin-top:-17.9px;
}
.setting-box {
  background:var(--structure-bg-light-color);
  width:60px;
  height:60px;
  border:none;
  border-radius:10px;
  margin:17.1px auto;
  transition:0.3s;
  cursor:pointer;
}
.setting-box:hover {
  transform:scale(1.05);
}
@font-face {
  font-family:Inter;
  src:url('../font/Inter-black.ttf');
}
