* {
  padding:0px;
  margin:0px;
  scroll-behavior:smooth;
}
*:focus {
  outline:none;
}
:root {
  --structure-bg-light-color:#A6E1FA;
  --options-bg-light-color:#57cdff;
  --structure-bg-dark-color:#0e101c;
  --options-bg-dark-color:#12141f;
}
::-webkit-scrollbar {
  width:0px;
}
::-webkit-scrollbar-track {
  border-radius:10px;
  background-color:none;
}
::placeholder {
  color:white;
  opacity:0.7;
}
a {
  text-decoration:none;
  color:white;
}
input::selection {
  background-color: transparent;
}
Body {
  background-color:black;
  user-select:none;
  overflow-x:hidden;
}
#main-container {
  display:flex;
  justify-content:center;
  margin:25px auto;
}
#option-container {
  background:transparent;
  width:80px;
  height:600px;
  border-radius:10px;
}
.first-option-interval {
  margin:-16.6px 0px;
}
.option-box {
  background:var(--structure-bg-light-color);
  width:60px;
  height:60px;
  border:none;
  border-radius:10px;
  margin:17.1px auto;
  transition:0.3s;
  cursor:pointer;
}
.option-box:hover {
  transform:scale(1.05);
}
.option-img {
  width:50px;
  height:50px;
  margin:5px 5px;
}
.theme-option-box {
  background:var(--structure-bg-light-color);
  width:60px;
  height:60px;
  border:none;
  border-radius:10px;
  margin:0px 10px;
  transition:0.3s;
  cursor:pointer;
}
.theme-option-box:hover {
  transform:scale(1.05);
}
#result-container {
  background:var(--structure-bg-light-color);
  width:1120px;
  height:600px;
  margin-left:10px;
  border-radius:10px;
}
#setting-container {
  background:transparent;
  width:80px;
  height:600px;
  margin-left:10px;
  border-radius:10px;
}
.first-setting-interval {
  margin:-16.6px 0px;
}
.setting-box {
  background:var(--structure-bg-light-color);
  width:60px;
  height:60px;
  border:none;
  border-radius:10px;
  margin:17.1px auto;
  transition:0.3s;
  cursor:pointer;
}
.setting-box:hover {
  transform:scale(1.05);
}
@font-face {
  font-family:Inter;
  src:url('../font/Inter-black.ttf');
}
