* {
  padding:0px;
  margin:0px;
  scroll-behavior:smooth;
}
*:focus {
  outline:none;
}
:root {
  --structure-bg-light-color:#A6E1FA;
  --options-bg-light-color:#57cdff;
  --structure-bg-dark-color:#0e101c;
  --options-bg-dark-color:#12141f;
}
::-webkit-scrollbar {
  width:0px;
}
::-webkit-scrollbar-track {
  border-radius:10px;
  background-color:none;
}
::placeholder {
  color:white;
  opacity:0.7;
}
a {
  text-decoration:none;
  color:white;
}
input::selection {
  background-color: transparent;
}
Body {
  background-color:black;
  user-select:none;
  overflow-x:hidden;
}
#pop-up-structure {
  background:var(--structure-bg-light-color);
  width:460px;
  height:300px;
  border-radius:20px;
  margin:160px auto;
}
#enter-username-text {
  font-family:Inter;
  font-weight:bold;
  font-size:36px;
  color:white;
  text-align:center;
  margin:0px auto;
  padding-top:85px;
}
#username-input {
  background:var(--options-bg-light-color);
  width:180px;
  height:60px;
  border:none;
  border-radius:10px;
  font-family:Inter;
  font-weight:bold;
  font-size:16px;
  color:white;
  text-align:center;
  margin:35px 40px;
  transition:0.4s;
  opacity:0.8;
}
#username-input:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0px 15px rgba(145, 92, 182, .2);
}
#button-input {
  background:var(--options-bg-light-color);
  width:180px;
  height:60px;
  border:none;
  border-radius:10px;
  font-family:Inter;
  font-weight:bold;
  font-size:16px;
  color:white;
  text-align:center;
  margin:35px -25px;
  transition:0.4s;
  opacity:0.8;
  cursor:pointer;
}
#button-input:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0px 15px rgba(145, 92, 182, .2);
}
@font-face {
  font-family:Inter;
  src:url('../font/Inter-black.ttf');
}
