{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="icon" href="{% static 'img/icon.png' %}">
    <title>
    Dashboard | {{user_name}}
    </title>
  </head>
  <body>
    <div data-aos="fade-down" data-aos-duration="1000" data-aos-delay="500" id="main-container">
      <div id="option-container">
        <div class="first-option-interval"></div>
        <div class="option-box">
          <a href="/"><img title="Search User" class="option-img" src="{% static 'img/search.png' %}"></a>
        </div>
        <div class="option-box">
          <img title="Information" onclick="load_info()" class="option-img" src="{% static 'img/information.png' %}">
        </div>
        <div class="option-box">
          <img title="Followers" onclick="load_followers()" class="option-img" src="{% static 'img/followers.png' %}">
        </div>
        <div class="option-box">
          <img title="Following" class="option-img" src="{% static 'img/following.png' %}">
        </div>
        <div class="option-box">
          <img title="Repositories" class="option-img" src="{% static 'img/repositories.png' %}">
        </div>
        <div class="option-box">
          <img title="Organizations" class="option-img" src="{% static 'img/organizations.png' %}">
        </div>
        <div class="option-box">
          <img title="Message" class="option-img" src="{% static 'img/message.png' %}">
        </div>
        <div class="option-box">
          <img title="Login" class="option-img" src="{% static 'img/login.png' %}">
        </div>
      </div>

      <div id="result-container">
        <div id="result-section-personal-info">
          <img id="result-user-profile" src="{{user_profile}}">
          <div id="result-personal-user-name">{{user_name}}</div>
          {% if user_bio == None %}
            <div id="result-personal-user-bio">No Description</div>
            <style>
              #result-personal-user-bio {
                background:var(--options-bg-darker-color);
                width:260px;
                height:100px;
                border-radius:0 0 10px 10px;
                font-family:Inter;
                font-size:14px;
                color:rgba(255,255,255, 0.3);
                text-align:center;
                align-items:center;
                padding-left:20px;
                padding-right:20px;
                justify-content:center;
                display:flex;
                margin:30px auto;
              }
            </style>
          {% else %}
          <div id="result-personal-user-bio">{{user_bio}}</div>
          {% endif %}
        </div>
        <div id="result-section-other-info">
          <div id="other-info-section">
            <div id="other-info-section-first-element"></div>
            <div id="other-info-box">Username : {{user_username}}</div>
            <div id="other-info-box">Name : {{user_name}}</div>
            <div id="other-info-box">Id : {{user_id}}</div>
            <div id="other-info-box">Type : {{user_type}}</div>
            <div id="other-info-box">Company : {{user_company}}</div>
            <div id="other-info-box">Location : {{user_location}}</div>
            <div id="other-info-box">Blog : {{user_blog}}</div>
            <div id="other-info-box">Twitter : {{user_twitter}}</div>
            <div id="other-info-box">Email : {{user_email}}</div>
            <div id="other-info-box">Admin : {{is_user_admin}}</div>
            <div id="other-info-box">Hireable : {{is_user_hireable}}</div>
            <div id="other-info-box">Old age : {{user_created_at}}</div>
            <div id="other-info-box">Followers : {{user_followers}}</div>
            <div id="other-info-box">Following : {{user_following}}</div>
            <div id="info-section-last-element-interval"></div>
          </div>
          <div id="followers-main-section">
            <div id="followers-first-half-container">
              {% for follower_name, follower_profile in first_half_followers.items %}
                <div id="followers-first-half-structure">
                  <img id="follower-profile" src="{{follower_profile}}">
                  <button id="follower-name">{{follower_name}}</button>
                </div>
              {% endfor %}
            <div id="follower-last-element-interval"></div>
            </div>
            <div id="followers-second-half-container">
              {% for follower_name, follower_profile in second_half_followers.items %}
                <div id="followers-second-half-structure">
                  <img id="follower-profile" src="{{follower_profile}}">
                  <button id="follower-name">{{follower_name}}</button>
                </div>
              {% endfor %}
            <div id="follower-last-element-interval"></div>
            </div>
          </div>
        </div>
      </div>

      <div id="setting-container">
        <div class="first-setting-interval"></div>
        <form id="theme-changing-form" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="theme-option-box" name="change-theme-button">
            <img title="Theme" class="option-img" src="{% static 'img/theme.png' %}">
          </button>
        </form>
        <div class="theme-and-setting-interval"></div>
        <div class="option-box">
          <img title="Translate" class="option-img" src="{% static 'img/translate.png' %}">
        </div>
        <div class="setting-box">

        </div>
        <div class="setting-box">

        </div>
        <div class="setting-box">

        </div>
        <div class="setting-box">

        </div>
        <div class="setting-box">

        </div>
        <div class="setting-box">

        </div>
      </div>

    </div>
    {% if current_theme == "dark" %}
      <style>
        :root {
          --structure-bg-light-color:#0e101c;
          --options-bg-light-color:#12141f;
        }
      </style>
    {% elif current_theme == "light" %}
      <style>
        :root {
          --structure-bg-light-color:#A6E1FA;
          --options-bg-light-color:#57cdff;
          --options-bg-dark-color:#8fdeff;
          --options-bg-darker-color:#78d7ff;
          --options-bg-deep-dark-color:#6bd3ff;
        }
      </style>
    {% endif %}
    <script src="{% static 'js/dashboard.js' %}"></script>
  </body>
</html>
